tower {
    accessToken = 'eyJ0aWQiOiAxfS5kZTdjMmQ4ZmEyOGNkODg1MDI1Zjg1NjVlNDQ0YjU3ZDgxOTg1NWY1'
    workspaceId = '254260032477198'
}

docker {
    enabled = true
}

// wave {
//     enabled = true
//     logLevel = 'DEBUG'
//     httpClient {
//         debugRequests = true
//     }
// }

// process {
//     container = 'us-west2-docker.pkg.dev/skilful-berm-44205-s2/ahdilwave/mysql:latest'
// }