tower {
    accessToken = 'eyJ0aWQiOiAxMDQwNn0uZGJiMmJlNzlmYzA3Mzk1OGY0NmM2YzBlZGNhOWQyM2E4YTY0YjM3Yg=='
    workspaceId = '104978902110557'
}

wave {
    enabled = true
    logLevel = 'DEBUG'
    httpClient {
        debugRequests = true
    }
}

process {
    container = 'us-west2-docker.pkg.dev/skilful-berm-44205-s2/ahdilwave/mysql:latest'
}