tower {
    accessToken = 'eyJ0aWQiOiAxMDUzNH0uNzNkY2JjZWU2MWRlZWViMDhlNWUwZTBlY2VjOWY5NTYwY2ZmOTAyYQ=='
    workspaceId = '104978902110557'
}

docker {
    enabled = true
}

// wave {
//     enabled = true
//     logLevel = 'DEBUG'
//     httpClient {
//         debugRequests = true
//     }
// }

// process {
//     container = 'us-west2-docker.pkg.dev/skilful-berm-44205-s2/ahdilwave/mysql:latest'
// }